version: "4.49.0"
services:
  app:
    build: .
    container_name: sr_exercise
    ports:
      - "8080:80"        
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=dbpass
      - DB_NAME=sportradar_exercise
    depends_on:
      - db
    volumes:
      - .:/var/www/html  

  db:
    image: mysql:8.0
    container_name: mydb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: dbpass
      MYSQL_DATABASE: sportradar_exercise
    ports:
      - "3306:3306"      
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
